<!DOCTYPE html>
<html lang="en" dir = "ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width-device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>Notes List</title>
    <style>
      *{
        margin:0;
        outline: 0;
        padding: 0;
      }
      body{
      background-color:rgb(164, 164, 238);
      background-position: center;
      background-size: cover;
      font-family: "Times New Roman";
    }
      table{
        position: absolute;
        z-index: 3;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 65%;
        height: 250px;
        border-collapse: collapse;
        border-spacing: 0;
        border-radius: 12px 12px 12px 12px;
        overflow: hidden;
        text-align: center;
        box-shadow: 0 10px 12px rgba(24, 22, 22, 0.3);
        background: rgba(250, 189, 148, 0.685);
      }
      th,td{
        padding: 15px 15px;
        font-family: "Times New Roman";
        color: rgb(34, 34, 34)
      }
      th{
        background: rgba(255, 160, 105, 0.644);
        text-transform: uppercase;
      }
      .dropdown{
        margin: 0 auto;
      }
      nav{
          background-color:rgba(250, 151, 94, 0.815);
          height: 80px;
          box-shadow: 0 6px rgba(119, 119, 119, 0.5);
          width: 100%;
          position: relative;
          top:0px;
      }
      .logo{
          color: rgb(51, 51, 51);
          font-size: 40px;
          line-height: 80px;
          padding: 0 0 0 40px;
          font-weight: bold;
          letter-spacing: 3px;
      }
      nav ul{ 
          float: right;
          margin-right: 50px;
      }
      nav ul li{
          position: relative;
          list-style: none;
          display: inline-block; 
      }
      nav ul li a{
          display: block;
          color: rgb(51, 51, 51);
          line-height: 80px;
          font-size: 25px;
          font-family: "Times New Roman";
          padding: 0px 35px;
          border-radius: 3px;
          text-decoration: none;
      }
      a.active, a:hover{
          background:rgb(0,0,0,0.5);
          transition: .5s;
      }
      nav ul ul{
          position: absolute;
          top: 60px;
          display: none;
      }
      nav ul li:hover > ul {
          display: block;
      }
      nav ul ul li{
          width: 129px;
          height: 70px;
          text-align: center;
          float: none;
          display: list-item;
          background: rgba(250, 189, 148, 0.685);;
      }
      nav ul ul li a{
          font-size: 20px;
          height: 70px;
      }
    </style>
  </head>
  <body>
    <div class="dropdown">
      <nav>
          <label class="logo">NOTE LIST</label>
          <ul>
              <li><a href="/admin/">Admin</a></li>
              <li><a>Lab-1</i></a>
                  <ul>
                      <li><a href="/lab-1">Root</a></li>
                      <li><a href="/lab-1/friends">Friends</a></li>
                  </ul>
              </li>
              <li><a>Lab-2</i></a>
                  <ul>
                      <li><a href="/lab-2">HTML</a></li>
                      <li><a href="/lab-2/xml">XML</a></li>
                      <li><a href="/lab-2/json">JSON</a></li>
                  </ul>
              </li>
              <li><a>Lab-3</i></a>
                  <ul>
                      <li><a href="/lab-3">Root</a></li>
                      <li><a href="/lab-3/add">Add</a></li>
                  </ul>
              </li>
              <li><a>Lab-4</a>
                  <ul>
                      <li><a href="/lab-4">Root</a></li>
                      <li><a href="/lab-4/add-note">Add</a></li>
                      <li><a href="/lab-4/note-list">Card</a></li>
                  </ul>
              </li>
          </ul>
      </nav>
  </div>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {% if objek %}
        {% for obj in objek %}
        <tr>
            <td>{{obj.to}}</td>
            <td>{{obj.froma}}</td>
            <td>{{obj.title}}</td>
            <td>{{obj.message}}</td>
        </tr>
        {% endfor %}
      {% endif %}
    </table>
  </body>
</html>