<!DOCTYPE html>
<html lang="en" dir = "ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width-device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <title>Form</title>
  <style type="text/css">
    *{
      margin : 0;
      padding : 0; 
      box-sizing: border-box;
    }
  body{
      background-color: darkseagreen;
      background-position: center;
      background-size: cover;
      font-family: "Times New Roman";
      margin-top: 40px;
    }
  .addnote{
      width: 800px;
      position: relative;
      top: 100px;
      background-color: grey;
      margin: auto; 
      color: #FFFFFF;
      padding: 10px 0px 10px 0px ;
      text-align: center;
      border-radius: 15px 15px 0px 0px;
      letter-spacing: 2px;
  }

  .main {
      background-color: rgb(0,0,0,0.5);
      border-radius: 0px 0px 15px 15px;
      position: relative;
      top: 100px;
      width: 800px;
      margin:auto;
  }
    form {
        padding : 10px;
    }
.name {
    margin-left: 20px;
    margin-top: 20px;
    width: 100px;
    color: white;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1.5px;  
}

.input {
    position: relative;
    left: 120px;
    top:-22px;
    line-height: 20px;
    border-radius: 5px;
    padding: 0px 60px 0px 0px;
    
}
.title {
    position: relative;
    left: 120px;
    top:-22px;
    line-height: 20px;
    border-radius: 5px;
    padding: 0px 200px 0px 0px;
}
.message {
    position: relative;
    left: 120px;
    top:-22px;
    line-height: 20px;
    border-radius: 5px;
    padding: 0px 400px 30px 0px;
}
.button{
    height: 60px;
    margin: 10px 0;
}
.button input {
    position: relative;
    left: 320px;
    top : 20px;
    height: 50%;
    width: 15%;
    font-size: 18px;
    font-weight: 700;
    font-family: "Times New Roman";
    color: rgb(0, 0, 0);
    border-radius: 2px;
    letter-spacing: 2px;
}
.dropdown{
    margin: 0 auto;
}
nav{
    background-color:grey;
    height: 80px;
    box-shadow: 0 6px rgb(0,0,0,0.5);
    width: 100%;
    position: relative;
    top:-40px;
}
.logo{
    color: white;
    font-size: 40px;
    line-height: 80px;
    padding: 0 0 0 40px;
    font-weight: bold;
    letter-spacing: 3px;
}
nav ul{ 
    float: right;
    margin-right: 50px;
}
nav ul li{
    position: relative;
    list-style: none;
    display: inline-block; 
}
nav ul li a{
    display: block;
    color: white;
    line-height: 80px;
    font-size: 25px;
    font-family: "Times New Roman";
    padding: 0px 35px;
    border-radius: 3px;
    text-decoration: none;
}
a.active, a:hover{
    background:rgb(0,0,0,0.5);
    transition: .5s;
}
nav ul ul{
    position: absolute;
    top: 60px;
    display: none;
}
nav ul li:hover > ul {
    display: block;
}
nav ul ul li{
    width: 129px;
    height: 70px;
    text-align: center;
    float: none;
    display: list-item;
    background: rgb(75, 75, 75);
}
nav ul ul li a{
    font-size: 20px;
    height: 70px;
}
   </style>
  </head>
  <body >
    <div class="dropdown">
        <nav>
            <label class="logo">ADD NOTE</label>
            <ul>
                <li><a href="/admin/">Admin</a></li>
                <li><a>Lab-1</i></a>
                    <ul>
                        <li><a href="/lab-1">Root</a></li>
                        <li><a href="/lab-1/friends">Friends</a></li>
                    </ul>
                </li>
                <li><a>Lab-2</i></a>
                    <ul>
                        <li><a href="/lab-2">HTML</a></li>
                        <li><a href="/lab-2/xml">XML</a></li>
                        <li><a href="/lab-2/json">JSON</a></li>
                    </ul>
                </li>
                <li><a>Lab-3</i></a>
                    <ul>
                        <li><a href="/lab-3">Root</a></li>
                        <li><a href="/lab-3/add">Add</a></li>
                    </ul>
                </li>
                <li><a>Lab-4</a>
                    <ul>
                        <li><a href="/lab-4">Root</a></li>
                        <li><a href="/lab-4/add-note">Add</a></li>
                        <li><a href="/lab-4/note-list">Card</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="addnote"><h1> Send Your Card</h1></div>
    <div class="main">
        <form action = "" method = "POST">
            {% csrf_token %}
            <div id ="to">
                <h2 class="name" for ="to">To</h2>
                <input class="input" type="text" id="to" name="to"><br>
                </div>
            <div id="froma">
                <h2 class="name" for="froma">From</h2>
                <input class="input" type="text" id="froma" name="froma"></label><br>
                </div>
            <div id="title">
                <h2 class="name" for="title">Title</h2>
                <input class="title" type="text" id="title" name="title"></label><br>
                </div>
            <div id="message">
                <h2 class="name" for="message">Message</h2>
                <input class="message" type="text" id="message" name="message"></label><br>
                </div>
            <div class="button">
                <input type="submit" value="Submit">
            </div>
        </form>

    </div>
  </body>
</html>