<!DOCTYPE html>
<html lang="en" dir = "ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width-device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <title>Cards</title>
  <style>
    *{
      margin: 0;
      padding: 0;
    }
    body{
        display: flex;
        justify-content: flex;
        align-items: flex;
        min-height: 100vh;
        background-color: rosybrown
    }
    .main{
        display: flex;
        justify-content: flex;
        align-items: center;
    }
    .notes{
      width: 300px;
      padding: 25px;
      margin: 50px;
      justify-self:auto;
      background-color: rgb(211, 193, 193);
    }
    .notes:hover .text-group{
      top: 50px;
      opacity: 1;
      text-align: justify;
      font-family:"Times New Roman";
      font-size: 16px;
    }
    .text-group{
      position: absolute;
    }
    .text-group h3{
        margin-bottom: 10px;
    }
    .text-group h4{
        margin-bottom: 40px;
    }
    .notes:hover .card{
      margin-top: -15px;
    }
    .card{
      height: 200px;
      margin-top: -200px;
      position: relative;
      overflow: hidden;
      transition: .3s;
    } 
    .cover{
      width: 100%;
      height: 250px;
      position: relative;
      z-index: 20;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 10px 20px grey;
      border-radius: 10px;
      font-family: "Times New Roman";
      background: linear-gradient(135deg, rgb(188, 143, 143), #c7c5c5);
    }
.dropdown{
  margin: 0 auto;
}
nav{
    background-color:grey;
    height: 80px;
    box-shadow: 0 6px rgb(0,0,0,0.5);
    width: 1800%;
    position: relative;
    top:0px;
}
.logo{
    color: rgb(247, 214, 214);
    font-size: 40px;
    line-height: 80px;
    padding: 0 0 0 40px;
    font-weight: bold;
    letter-spacing: 4px;
}
nav ul{ 
    float: right;
    margin-right: 50px;
}
nav ul li{
    position: relative;
    list-style: none;
    display: inline-block; 
}
nav ul li a{
    display: block;
    color: rgb(247, 214, 214);
    line-height: 80px;
    font-size: 25px;
    font-family: "Times New Roman";
    padding: 0px 35px;
    border-radius: 3px;
    text-decoration: none;
}
a.active, a:hover{
    background:rgb(0,0,0,0.5);
    transition: .5s;
}
nav ul ul{
    position: absolute;
    top: 60px;
    display: none;
}
nav ul li:hover > ul {
    display: block;
}
nav ul ul li{
    width: 129px;
    height: 70px;
    text-align: center;
    float: none;
    display: list-item;
    background: rgb(75, 75, 75);
}
nav ul ul li a{
    font-size: 20px;
    height: 70px;
}

  </style>
        <title>Notes Card</title>
    </head>
    <body>
      <div class="dropdown">
        <nav>
            <label class="logo">NOTE CARDS</label>
            <ul>
                <li><a href="/admin/">Admin</a></li>
                <li><a>Lab-1</i></a>
                    <ul>
                        <li><a href="/lab-1">Root</a></li>
                        <li><a href="/lab-1/friends">Friends</a></li>
                    </ul>
                </li>
                <li><a>Lab-2</i></a>
                    <ul>
                        <li><a href="/lab-2">HTML</a></li>
                        <li><a href="/lab-2/xml">XML</a></li>
                        <li><a href="/lab-2/json">JSON</a></li>
                    </ul>
                </li>
                <li><a>Lab-3</i></a>
                    <ul>
                        <li><a href="/lab-3">Root</a></li>
                        <li><a href="/lab-3/add">Add</a></li>
                    </ul>
                </li>
                <li><a>Lab-4</a>
                    <ul>
                        <li><a href="/lab-4">Root</a></li>
                        <li><a href="/lab-4/add-note">Add</a></li>
                        <li><a href="/lab-4/note-list">Card</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    {% if objek %}
      {% for obj in objek%}
        <div class="main">
          <div class="notes">
            <div class="cover">
              <h1>To: {{obj.to}}</h1>
            </div>
            <div class="card">
              <div class="text-group">
                <h3>{{obj.title}}</h3>
                <h4>{{obj.message}}</h4><br>
                <p>Regards, {{obj.froma}}</p><br>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
    </body>
</html>