<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {% if objek %}
        {% for obj in objek %}
        <tr>
            <td>{{obj.to}}</td>
            <td>{{obj.froma}}</td>
            <td>{{obj.title}}</td>
            <td>{{obj.message}}</td>
        </tr>
        {% endfor %}
      {% endif %}
    </table>
  </body>
</html>
